* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin-top: 100px;
    color: whitesmoke;
    background-image: url(https://images.unsplash.com/photo-1547483238-2cbf881a559f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2134&q=80);
    background-position: center;
    background-size: cover;
}


/* NAVIGATION SECTION */


nav {
    box-sizing: border-box;
    background-image: url(https://images.unsplash.com/photo-1547483238-2cbf881a559f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2134&q=80);
    padding: 18px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 50px;
    word-spacing: 70px;
    opacity: 0.7;
    }


a.taskbar, a.bar  {
    text-decoration: none;
    color: midnightblue;
}

a.taskbar:hover {
    color: black;
    transition: color 1s linear;
}


/* TITLES SECTION */

.title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 120px;
    padding-top: 30px;
}

.subtitle {
    text-align: center;
    margin: 0 auto;
    padding: 20px;

}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

h3 {
    text-align: center;
    text-transform: capitalize;

}




/* ABOUT ME SECTION */

.about {
    margin-bottom: 120px;
}

.grid {
    display: grid;
    width: 60%;
    margin: 0 auto;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, fr;
}

/* image */

.a img {
    width: 200px;
}

.a {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    padding: 10px;
}

/* about me content */

.b {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    text-align:justify;
    padding: 10px;
}







/* SKILLS SECTION */

.skills {
    margin-bottom: 120px;
}

.gridlang {
    display: grid;
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    grid-template-columns: 1fr, 2fr, 1fr, 1fr, 1fr, 2fr, 1fr;
    grid-template-rows: 2fr, 1fr;
}


.c {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-start: 2;
    text-align: center;

}

.d {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-start: 3;

}

.e {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-start: 2;
    text-align: center;

}

.f {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-start: 3;
}

.logo {
    width: 180px;
}


/* FOOTER */

footer {
    text-align: center;
    height: 70px;
    background-color: rgb(25,25,112, 0.4);  
    color: rgb(112,128,144, 1.0);
    padding: 50px;
}

/* footer grid */

.footergrid {
    display: grid;
    grid-template-columns: 1fr , 1fr, 1fr;
    grid-template-rows: 30px;

}

.g {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-start: 2;
}

.h {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-start: 2;
}

.i {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-start: 2;
}

a.footbar {
        text-decoration: none;
        color: slategray;
}

/*      CONTACTS PAGE CONTACTS PAGE CONTACTS PAGE            */



.form {
    width: 400px;
    height: 220px;
    margin: 0 auto;
    text-align: center;
    background-color: midnightblue;
    color: rgb(253, 254, 255);
    margin-bottom: 166px;
    padding-top: 20px;
    border-radius: 15px;
}

.input {
    width: 380px;
    height: 20px;
    border: 1px solid darkslategray;
    border-radius: 10px;
    font-style: italic;
    font-size: 12px;
    text-align: left;
    text-indent: 10px;
    margin-bottom: 5px;
}

#textarea {
    margin: 5px;
    height: 40px;
}




.button {
    width: 90px;
    height: 30px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
}


.content {
    text-align: center;
    margin-bottom: 60px;
    font-size: 30px;
}






/* PROJECTS PAGE PROJECTS PAGE PROJECTS PAGE PROJECTS PAGE PROJECTS PAGE PROJECTS PAGE */ 




.gridproj {
    display: grid;
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    grid-template-columns: 1fr, 2fr, 1fr, 1fr, 1fr, 2fr, 1fr;
    grid-template-rows: 2fr, 1fr;
}


.cc {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-start: 2;
    text-align: center;

}

.dd {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-start: 3;

}

.ee {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-start: 2;
    text-align: center;

}

.ff {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-start: 3;
}

.projimg {
    width: 100%;
    z-index: 10;
}

/*-------------------------------------------------------------------------------------------------------*/


.description {
    height: 250px;
    width: 100%;
}


.project_grid {
    display: grid;
    width: 100%;
    height: 900px;
    grid-template-columns: repeat(17, 100px);
    grid-template-rows: repeat(10, 1fr);
    margin: 10px;
}

.grid_a {
    background-color: rgb(112,128,144, 0.3);
    color: orange;
    height: 100%;
    padding: 25px;
    
}

.grid_b {
    background-color: rgb(112,128,144, 0.1);
    height: 100%;
    padding: 25px;    
}


img {
    width: 100%;
}

.img {
    grid-column-start: 2;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 7;
}

.desc {
    grid-column-start: 14;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 8;   
    text-align: justify;
}

























/* MOBILE FRIENDLYMOBILE FRIENDLYMOBILE FRIENDLYMOBILE FRIENDLYMOBILE FRIENDLYMOBILE FRIENDLYMOBILE FRIENDLYMOBILE FRIENDLYMOBILE FRIENDLYMOBILE FRIENDLYMOBILE FRIENDLYMOBILE FRIENDLY*/















@media screen and (max-width: 640px) {

    body {
        margin-top: 100px;
        color: whitesmoke;
        background-image: url(https://images.unsplash.com/photo-1547483238-2cbf881a559f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2134&q=80);
        background-position: center;
        background-size: cover;
        text-align: center;
    }
    
    
    /* NAVIGATION SECTION */
    
    
    nav {
        box-sizing: border-box;
        background-image: url(https://images.unsplash.com/photo-1547483238-2cbf881a559f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2134&q=80);
        padding: 18px 10px;
        position: fixed;
        top: 0;
        width: 100%;
        text-align: center;
        font-size: 20px;
        word-spacing: 70px;
        opacity: 0.7;
        }
    
    
    a.taskbar, a.bar  {
        text-decoration: none;
        color: midnightblue;
    }
    
    a.taskbar:hover {
        color: black;
        transition: color 1s linear;
    }
    
    
    /* TITLES SECTION */
    
    .title {
        text-align: center;
        font-size: 60px;
        margin-bottom: 120px;
        padding-top: 30px;
    }
    
    .subtitle {
        text-align: center;
        margin: 0 auto;
        padding: 20px;
    
    }
    
    h1 {
        font-size: 80px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h3 {
        text-align: center;
        text-transform: capitalize;
    
    }
    
    
    
    
    /* ABOUT ME SECTION */
    
    .about {
        margin-bottom: 120px;
    }
    
    .grid {
        display: grid;
        width: 60%;
        margin: 0 auto;
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 1fr, 1fr, 1fr, fr;
    }
    
    /* image */
    
    .a img {
        width: 200px;
    }
    
    .a {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 5;
        padding: 10px;
    }
    
    /* about me content */
    
    .b {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        text-align:justify;
        padding: 10px;
    }
    
    
    
    
    
    
    
    /* SKILLS SECTION */
    
    .skills {
        margin-bottom: 120px;
    }
    
    .gridlang {
        display: grid;
        width: 600px;
        margin: 0 auto;
        margin-top: 30px;
        grid-template-columns: 1fr, 2fr, 1fr, 1fr, 1fr, 2fr, 1fr;
        grid-template-rows: 2fr, 1fr;
    }
    
    
    .c {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-start: 2;
        text-align: center;
    
    }
    
    .d {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-start: 3;
    
    }
    
    .e {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-start: 2;
        text-align: center;
    
    }
    
    .f {
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-start: 3;
    }
    
    .logo {
        width: 180px;
    }
    
    
    /* FOOTER */
    
    footer {
        text-align: center;
        height: 70px;
        background-color: rgb(25,25,112, 0.4);  
        color: rgb(112,128,144, 1.0);
        padding: 50px;
    }
    
    /* footer grid */
    
    .footergrid {
        display: grid;
        grid-template-columns: 1fr , 1fr, 1fr;
        grid-template-rows: 30px;
    
    }
    
    .g {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-start: 2;
    }
    
    .h {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-start: 2;
    }
    
    .i {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-start: 2;
    }
    
    a.footbar {
            text-decoration: none;
            color: slategray;
    }
    
    /*      CONTACTS PAGE CONTACTS PAGE CONTACTS PAGE            */
    
    
    
    .form {
        width: 400px;
        height: 220px;
        margin: 0 auto;
        text-align: center;
        background-color: midnightblue;
        color: rgb(253, 254, 255);
        margin-bottom: 166px;
        padding-top: 20px;
        border-radius: 15px;
    }
    
    .input {
        width: 380px;
        height: 20px;
        border: 1px solid darkslategray;
        border-radius: 10px;
        font-style: italic;
        font-size: 12px;
        text-align: left;
        text-indent: 10px;
        margin-bottom: 5px;
    }
    
    #textarea {
        margin: 5px;
        height: 40px;
    }
    
    
    
    
    .button {
        width: 90px;
        height: 30px;
        margin: 10px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 15px;
    }
    
    
    .content {
        text-align: center;
        margin-bottom: 60px;
        font-size: 30px;
    }
    
    
    
    
    
    
    /* PROJECTS PAGE PROJECTS PAGE PROJECTS PAGE PROJECTS PAGE PROJECTS PAGE PROJECTS PAGE */ 
    
    
    
    
    .gridproj {
        display: grid;
        width: 1000px;
        margin: 0 auto;
        margin-top: 30px;
        grid-template-columns: 1fr, 2fr, 1fr, 1fr, 1fr, 2fr, 1fr;
        grid-template-rows: 2fr, 1fr;
    }
    
    
    .cc {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-start: 2;
        text-align: center;
    
    }
    
    .dd {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-start: 3;
    
    }
    
    .ee {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-start: 2;
        text-align: center;
    
    }
    
    .ff {
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-start: 3;
    }
    
    .projimg {
        width: 100%;
        z-index: 10;
    }
    
    /*-------------------------------------------------------------------------------------------------------*/
    
    
    .description {
        height: 250px;
        width: 100%;
    }
    
    
    .project_grid {
        display: grid;
        width: 100%;
        height: 900px;
        grid-template-columns: repeat(17, 100px);
        grid-template-rows: repeat(10, 1fr);
        margin: 10px;
    }
    
    .grid_a {
        background-color: rgb(112,128,144, 0.3);
        color: orange;
        height: 100%;
        padding: 25px;
        
    }
    
    .grid_b {
        background-color: rgb(112,128,144, 0.1);
        height: 100%;
        padding: 25px;    
    }
    
    
    img {
        width: 100%;
    }
    
    .img {
        grid-column-start: 2;
        grid-column-end: 13;
        grid-row-start: 3;
        grid-row-end: 7;
    }
    
    .desc {
        grid-column-start: 14;
        grid-column-end: 18;
        grid-row-start: 5;
        grid-row-end: 8;   
        text-align: justify;
    }
}