* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    text-decoration: none;
}
    
body {
    background-color: #778899;
}    

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header {
    background-color: #708090;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid #2F4F4F;
    align-items: center;
    width: 100%;
    height: 50px;
}

main {
    padding-top: 75px;
}
